.foto-card {
  margin: 8px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.foto-img {
  width: 100%;
  height: 300px; // AUMENTAMOS el alto
  object-fit: cover;
  border-bottom: 5px solid #ddd;
  display: block;
}

.foto-labels {
  font-size: 24px;            // Aumentamos el tamaño
  color: #333;                // Un tono más oscuro para mayor contraste
  margin-bottom: 12px;
  line-height: 1.6;
  font-weight: 500;           // Un poco más grueso
  text-align: left;
}

.foto-label-titulo {
  font-weight: 600;
  font-size: 24px;
  color: #111;
}

ion-button {
  font-weight: bold;
  font-size: 14px;
  --background: linear-gradient(to right, #ff1cd2, #5900ff);
  border-radius: 10px;
}
