ion-content {
  --background: linear-gradient(to right, #1c86ff, #9900ff);
  padding-top: env(safe-area-inset-top);
  font-family: 'Roboto', sans-serif !important;
  color: #fff;
}

ion-toolbar {
  --background: linear-gradient(to left, #e5ff1c, #ff0d00); 
  margin-top: 14px;
}

.boton-logout{
  font-weight: bold;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: #363cf4;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}


.titulo{
  font-family: "system-ui", sans-serif;
  color: black;
}