<ion-content class="ion-padding no-scroll" scroll-y="false">

  <!-- Botón de volver -->
  <ion-button fill="clear" class="boton-volver" (click)="volverAtras()">
    ← Volver
  </ion-button>

  <ion-card *ngIf="foto" class="foto-card">
    <img [src]="foto.url" class="foto-img" />
    <ion-card-header>
      <ion-card-title class="foto-nombre">
      {{ getTextoFormateado(foto.nombre) }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="foto-labels">
        <span class="foto-label">
          <span class="foto-label-titulo">Tipo:</span> {{ foto.tipo }}
        </span>
        <span class="foto-label">
          <span class="foto-label-titulo">Votos:</span> {{ foto.votos }}
        </span>
      </div>
      <ion-button
        (click)="votar()"
        size="default"
        color="success"
        expand="block"
        [disabled]="votado">
        {{ votado ? 'Ya votaste' : 'Votar' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>