<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar>
    <ion-title>pruebaApp</ion-title>

    <ion-buttons slot="end">
      <ion-button 
        *ngIf="user" 
        size="small" 
        color="danger" 
        (click)="logout()">
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content-with-safe-area">
  <div id="container">
    <strong>HOME</strong>
    <p>Página de bienvenida</p>

    <p *ngIf="user">Bienvenido {{ user.email }}</p>

    <ng-container *ngIf="!user">
      <ion-button size="small" (click)="goToLogin()">Ir a Login</ion-button>
      <ion-button size="small" (click)="goToRegister()">Ir al Registro</ion-button>
    </ng-container>
  </div>
</ion-content>
