<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar>
    <ion-title class="titulo">Relevamiento Visual</ion-title>

    <ion-buttons slot="end">
      <ion-button 
        *ngIf="user" 
        size="small" 
        color="danger" 
        (click)="logout()">
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="container">
  <div *ngIf="!user" id="container">
    <strong>BIENVENIDO</strong>
    <p>Debes estar registrado para poder utilizar la app.</p>

    <ion-button size="small" (click)="goToLogin()">Iniciar Sesión</ion-button>
    <ion-button size="small" (click)="goToRegister()">Crear una Cuenta</ion-button>
  </div>

  <ng-container *ngIf="user">
    <div class="options">
      <ion-button fill="outline" class="nice-button" (click)="navCtrl.navigateBack('/fotos/lindas')">
        <div class="button-content">
          <span>COSAS LINDAS</span>
          <img src="../../assets/happy-emoji.png" alt="happy-emoji">
        </div>
      </ion-button>

      <ion-button fill="outline" class="ugly-button" (click)="navCtrl.navigateBack('/fotos/feas')">
        <div class="button-content">
          <span>COSAS FEAS </span>
          <img src="../../assets/sick-emoji.png" alt="sick-emoji">
        </div>
      </ion-button>
    </div>
  </ng-container>
</div>